/* general */

:root {
    --color-primary-blue: rgb(22, 121, 228);
    --color-primary-blue-hover: rgb(19, 103, 193);
    --color-primary-white: white;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    display: grid;
    grid-template-columns: minmax(225px, 1fr) 4fr;
    grid-template-rows: 25vh 1fr;
    grid-template-areas: "sd tp"
                         "sd mn";
}

hr {
    color: gray;
}

ul {
    list-style-type: none;
}

svg {
    height: 1.5rem;
}

a {
    text-decoration: none;
}

a:visited {
    color: black;
}

.title {
    font-size: 1.25em;
}

svg.title{
    height: 100%;
}

input[type=search] {
    height: 1.75rlh;
    width: clamp(20ch, 50ch, 50%);
    border: none;
    background-color:rgb(219, 228, 239);
    border-radius: 1rlh;
    font-size: 1.1rem;
    font-weight: 300;
    padding-left: 2ch;
}

img {
    border-radius: 50%;
}


/* side menu */

.side {
    color: var(--color-primary-white);
    padding: 5%;
    font-size: 1.3rem;
    z-index: 2;
}

.side {
    display: flex;
    flex-direction: column;
    gap: 1.5rlh;
}

.side div,
.side a {
    height: 2rlh;
    display: grid;
    grid-template-columns: 1fr 4fr;
    align-items: center;
    gap: 0.5em;
}

.side a {
    color: var(--color-primary-white);
    text-decoration: none;
}

.side svg {
    height: 70%;
    justify-self: center;
}

.side path {
    fill: var(--color-primary-white);
}

/* top bar */

.top {
    min-height: 20%;
    z-index: 1;
    box-shadow: 0px 0px 5px lightgray;
    padding: 1% 3%;
}

.top {
    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-template-rows: 1fr 1fr;
    align-items: center;
}

.top > div {
    width: 100%;
    display: flex;
    align-items: center;
}

.user-main,
.search-bar {
    gap: 3%;
}

.user-buttons,
.action-buttons {
    justify-content: end;
    gap: 6%;
}

.profile {
    height: 60px;
}

.profile-small {
    height: 40px;
}

.greeting {
    display: flex;
    flex-direction: column;
}

.greeting > span:first-child {
    font-size: 0.9em;
}

.button-icon,
.button-text {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-icon {
    border-radius: 50%;
    padding: 5px;
}

.button-icon:hover {
    background-color: lightgray;
}

.button-text {
    background-color: var(--color-primary-blue);
    color: var(--color-primary-white);
    font-size: 0.9em;
    width: max(8em, 20%);
    height: 2lh;
    border-radius: 1lh;
}

.button-text:hover,
.side a:hover {
    background-color: var(--color-primary-blue-hover);
}

a.button-text:visited {
    color: var(--color-primary-white);
}

/* main content */

.main {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 50% 50%;
}

.main {
    padding: 2%;
    font-weight: 500;
    font-size: 1rem;
    column-gap: 2ch;
    row-gap: 3ch;
}

.projects-outer {
    grid-area: 1 / 1 / 3 / 2;
}

.projects-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30ch, 1fr));
    gap: 2ch;
    flex: 1;
}

.main > * > span + * {
    margin-top: 1lh;
}

.main > * {
    display: flex;
    flex-direction: column  ;
}

.card {
    font-size: 0.9em;
    display: flex;
    flex-direction: column;
    height: 100%;
    border-radius: 0.5em;
    box-shadow: 0px 0px 5px lightgray;
    background-color: var(--color-primary-white);
    padding: 0.75lh;
}

.card p {
    font-size: 0.9em;
    color: gray;
}

.projects-cards {
    flex: 1;
}

.projects-cards > .card {
    font-size: 0.9em;
    height: 100%;
    border-left: solid 0.5em gold;
}

.card-buttons {
    display: flex;
    justify-content: end;
    margin-top: auto;
}

.announcement {
    width: inherit;
}

.announcement-content {
    height: 33%;
    padding: 1ch;
}

.announcement-content p{
    width: 100%;
    height: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.announcement-content:not(:first-child) {
    border-top: 1.5px solid gray;
}

.trending a {
    display: flex;
    gap: 1rem;
    font-size: 0.9em;
}

.trending a+a {
    margin-top: 1lh;
}

.trending-content {
    display: flex;
    flex-direction: column;
    gap: 0.3lh;
}

/* grid area */

.side {
    grid-area: sd;
    background-color: var(--color-primary-blue);
}

.top {
    grid-area: tp;
    background-color: var(--color-primary-white);
}

.main {
    grid-area: mn;
    background-color: whitesmoke;
}